<h2>Articles</h2>
<hr />

<ul class="list-group">
  <li *ngFor="let article of articles" class="list-group-item list-group-item-action">
    <a routerLink="api/articles/{{article.articleId}}">
      <h5 class="article title"> {{article.title}}</h5> <span class="article date">Created: {{article.created | date:'MM/dd/yyyy'}}</span>
    </a>
  </li>
</ul>
