<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Personal Blog</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['']">Blogs</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/articles']">Articles</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/myblogs']">My Blogs</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/account']">My account</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn()" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" routerLink="login" routerLinkActive="active">Log in</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn()" [routerLinkActive]="['link-active']">
            <a class="btn btn-info" routerLink="signup" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()" [routerLinkActive]="['link-active']">
            <a class="btn btn-danger log-out" (click)="LogOut()" routerLinkActive="active">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
