<button (click)="goBack()" type="button" class="btn btn-warning">Back</button>


<div class="card mt-3" *ngIf="blog">
  <h5 class="card-header">Blog info</h5>
  <div class="card-body">
    <h5 class="card-title">Title:</h5>
    <p class="card-text">{{blog.title}}</p>
    <h5 class="card-title">Created:</h5>
    <p class="card-text">{{blog.created | date:'MM/dd/yyyy'}}</p>
  </div>
</div>

<h3>Articles:</h3>
<div *ngIf="articles">
  <ul class="list-group" *ngFor="let article of articles">
    <li class="list-group-item list-group-item-action">
      <a routerLink="articles/{{article.articleId}}">
        <h5 class="article title"> {{article.title}}</h5>
        <span class="article date">Created: {{article.created | date:'MM/dd/yyyy'}}</span>
      </a>
    </li>
  </ul>
</div>
