<h3>Account</h3>

<div class="card">
  <h5 class="card-header">Personal info</h5>
  <div class="card-body">
    <h5 class="card-title">Username:</h5>
    <p class="card-text">{{currentUser.username}}</p>
    <h5 class="card-title">Email:</h5>
    <p class="card-text">{{currentUser.id}}</p>
    <h5 class="card-title">Role:</h5>
    <p class="card-text">{{currentUser.role}}</p>
  </div>
</div>

<div class="d-flex w-100 mt-4" *ngIf="currentUser.role=='admin'">
  <div class="col-6">
    <h3>Users of Personal Blog</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of users">
        {{user.userName}}
        <h6 *ngIf="!user.isEnabled">Banned!</h6>
        <button type="button" (click)="banUser(user.id)" class="btn btn-danger btn-delete">
          {{user.isEnabled == true ? 'Ban' : 'Unlock'}}
        </button>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <h3>Add tag:</h3>
    <form #addTagForm="ngForm" (ngSubmit)="addTag(addTagForm)">
      <div class="mt-3">
        <input type="text" name="name" ngModel class="form-control col-sm-12" id="tag_name" placeholder="Title for tag">
      </div>
      <button type="submit" class="btn btn-primary mb-3 mt-3">Create tag</button>
    </form>
    <h3>Tags for articles:</h3>
    <ul  class="list-group">
      <li class="list-group-item" type="none" *ngFor="let tag of enabledTags">
        <h6 class="blog title"> {{tag.name}}</h6> <button type="button" (click)="deleteTag(tag.tagId)" class="btn btn-danger btn-delete">Delete</button>
      </li>
    </ul>
    <h3>Deleted tags:</h3>
    <ul type="none" class="tags">
      <li *ngFor="let tag of disabledTags">
        <h5 class="blog title"> {{tag.name}}</h5>
      </li>
    </ul>

  </div>
</div>
