<h2>Recent blogs</h2>
<hr />

<ul class="list-group">
  <li *ngFor="let blog of blogs" class="list-group-item list-group-item-action">
    <a routerLink="blogs/{{blog.id}}">
      <h5 class="blog title">{{blog.title}}</h5> <span class="blog date">Created: {{blog.created | date:'MM/dd/yyyy'}}</span>
    </a>
  </li>
</ul>
