<form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">Leave your review</h5>
      <div class="alert alert-info" *ngIf="!isLoggedIn()">
        Please sign in to write a review
      </div>
      <div class="alert alert-danger"
           *ngIf="myForm.controls['text'].invalid && myForm.controls['text'].touched">
        Text field is required
      </div>
      <textarea class="form-control rounded-0"  name="text" formControlName="text" rows="5"></textarea>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="myForm.invalid">Make review</button>
    </div>
    </div>
</form>


<div *ngIf="reviews">
  <ul class="list-group" *ngFor="let review of reviews">
    <li class="list-group-item">
      <h4>{{review.text}}</h4>
      <span class="article date">Created: {{review.created | date:'MM/dd/yyyy'}}</span>
      
      <button type="button" *ngIf="isLoggedIn() && currentUser.id == review.userId" (click)="deleteReview(review.id)" class="btn btn-danger">Delete</button>
    </li>
    
  </ul>
</div>

