<button (click)="goBack()"  type="button" class="btn btn-warning">go back</button>

<div *ngIf="article">

  <h3 class="mt-3">{{article.title}}</h3>
  <app-tag></app-tag>
  <p align="justify">{{article.text}}</p>
</div>

<div class="mt-3">
  <app-review></app-review>
</div>


