
<form class="form-signin" [formGroup]="signupForm" novalidate (ngSubmit)="onSubmit()">
  <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
  <div class="form col-sm-12 mt-3">
    <div class="alert alert-danger col-sm-4"
         *ngIf="signupForm.controls['username'].invalid && signupForm.controls['username'].touched">
      Username is required
    </div>
    <input type="text" placeholder="Username" name="username" class="form-control col-sm-4" formControlName="username">
  </div>
  <div class="form col-sm-12 mt-3">
    <div class="alert alert-danger col-sm-4"
         *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched">
      Password is required
    </div>
    <input type="password" placeholder="Password" name="password" class="form-control col-sm-4" formControlName="password">
  </div>
  <div class="form col-sm-12 mt-3">
    <div class="alert alert-danger col-sm-4"
         *ngIf="signupForm.value['confirmPassword']!=signupForm.value['password']">
      Passwords do not match
    </div>
    <input type="password" placeholder="Confirm password" name="confirmpassword" class="form-control col-sm-4" id="login_password" formControlName="confirmPassword">
  </div>
  <div class="form col-sm-12 mt-3">
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
</form>
