
<div class="d-flex w-100">
  <div class="col-6">
    <h3>My blogs.</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" *ngFor="let blog of blogs">
        <a routerLink="api/blogs/{{blog.id}}">
          <h5 class="blog title"> {{blog.title}}</h5> <span class="blog date">Created: {{blog.created | date:'MM/dd/yyyy'}}</span>
        </a>
        <button type="button" (click)="deleteBlog(blog.id)" class="btn btn-danger btn-delete">Delete blog</button>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <h3>Add blog</h3>
    <form [formGroup]="blogForm" novalidate (ngSubmit)="addBlog()">
      <div class="alert alert-danger"
           *ngIf="blogForm.controls['title'].invalid && blogForm.controls['title'].touched">
         Title cannot be empty
      </div>
      <div class="mt-3">
        <input type="text" name="title" class="form-control col-sm-12" id="login_username" placeholder="Title for blog" formControlName="title">
      </div>
      <button type="submit" class="btn btn-primary mb-3 mt-3" [disabled]="blogForm.invalid">Create blog</button>
    </form>
    <h3>Add article to your blog</h3>
    <form [formGroup]="articleForm" novalidate (ngSubmit)="addArticle()">
      <label for="blogId">choose the blog:</label>

      <div class="alert alert-danger"
           *ngIf="articleForm.controls['blogId'].invalid && articleForm.controls['blogId'].touched">
        You have to choose the blog
      </div>

      <select class="pt-2 form-control col-lg-8" name="blogId" formControlName="blogId">
        <option *ngFor="let blog of blogs" [value]="blog.id">{{blog.id}}{{blog.title}}</option>
      </select>
      <div class="pt-2">
        <span class="m-1" *ngFor="let tag of tagsToShow" (click)="addTag(tag)">
          <span class="tag" *ngIf="tag.isEnabled">{{ tag.name }}</span>
        </span>
      </div>
      <div class="mt-3">
        <div class="alert alert-danger"
             *ngIf="articleForm.controls['title'].invalid && articleForm.controls['title'].touched">
          Title is empty
        </div>
        <input type="text" name="title" formControlName="title" class="form-control col-sm-10" id="login_username" placeholder="Header for article">
        <div class="alert alert-danger mt-2"
             *ngIf="articleForm.controls['text'].invalid && articleForm.controls['text'].touched">
          Text is empty
        </div>
        <textarea class="form-control rounded-0 mt-3" placeholder="Article text" id="exampleFormControlTextarea1" name="text" rows="5" formControlName="text"></textarea>
      </div>
      <button type="submit" class="btn btn-primary ml-6 mt-3" [disabled]="articleForm.invalid">Create article</button>
    </form>
  </div>

</div>
