
<body>
  <form class="form-signin" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form col-sm-12 mt-3">
      <div class="alert alert-danger col-sm-4"
           *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
        Username is required
      </div>
      <input type="text" placeholder="Username" name="username" class="form-control col-sm-4" id="login_username" formControlName="username">
    </div>
    <div class="form col-sm-12 mt-3">
      <div class="alert alert-danger col-sm-4"
           *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
        Password is required
      </div>
      <input type="password" placeholder="Password" name="password" class="form-control col-sm-4" id="login_password" formControlName="password">
    </div>
    <div class="form col-sm-12 mt-3">
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Log In</button>
    </div>
  </form>


</body>
